{% extends "base_list.html" %}

{% block top_content %}
<div style="margin-left: 10%; margin-right: 10%;">
  {% if user %}
    <h1 align="center">{{ user['name'] }}
    {% if user['role'] == "admin" %} 🍎
    {% elif user['role'] == "king" %} 👑
    {% elif user['role'] == "banned" %} ❌
    {% elif user['role'] == "regular" %} 😂
    {% endif %}
  </h1>
    {% if user['is_photo'] %}
    <p align="center">
  <img style="object-fit: cover; aspect-ratio: 1;border-radius: 70px; height: 140px;" src="../static/uploads/{{ user['id'] }}.png">
  </p>
    {% endif %}
    <h3>Электронная почта: {{ user['email'] }}</h3>
    <h3>Роль: {% if user['role'] == "admin" %} Админ
    {% elif user['role'] == "king" %} Король
    {% elif user['role'] == "banned" %} Заблокированный
    {% elif user['role'] == "regular" %} Обычный
    {% endif %}</h3>
  {% else %}
    <h1 align="center">Пользователь не найден</h1>
  {% endif %}
</div>
{% endblock %}