{% extends "base_list.html" %}

{% block top_content %}
    <h1 align="center">Главная страница</h1>
    <div class="card shadow-sm" style="margin-left: 5%; margin-right: 5%; margin-top: 2%; background-color: #DC3545; border-radius: 20px; border: 0px;">
    <div class="card-body">
        <p class="card-text" style="font-size: 150%;">{% for j in anekdoty_ru %}
                                                            {{ j }}<br>
                                                        {% endfor %}</p>
           <p><a href="https://anekdoty.ru/"><img style="width: 20%;height: auto; margin-left: 2%;" align="left" src="/static/img/anekdotyru.png"></a></p>
    </div>

</div>
<div class="card shadow-sm" style="margin-left: 5%; margin-right: 5%; margin-top: 2%; background-color: #FFC200; border-radius: 20px; border: 0px;">
    <div class="card-body">
        <p class="card-text" style="font-size: 150%;">{% for j in anekdotbar %}
                                                            {{ j }}<br>
                                                        {% endfor %}</p>
           <p><a href="https://anekdotbar.ru/"><img style="width: 20%;height: auto; margin-left: 2%;" align="left" src="/static/img/anekdotbar.png"></a></p>
    </div>

</div>
    <hr/>
{% endblock %}