{% extends "base.html" %}

{% block content %}
    {% set list_of_prof = ['инженер-исследователь', 'пилот', 'строитель',
    'экзобиолог', 'врач', 'инженер по терраформированию', 'климатолог',
    'специалист по радиационной защите', 'астрогеолог', 'гляциолог',
    'инженер жизнеобеспечения', 'метеоролог', 'оператор марсохода',
    'киберинженер', 'штурман', 'пилот дронов'] %}
    <div style="margin-left: 40px">
        <h2>Список профессий</h2>
    {% if list == "ol" %}
        <ol>
            {% for item in list_of_prof %}
            <li>{{ item }}</li>
            {% endfor %}
        </ol>
    {% elif list == "ul"%}
        <ul>
            {% for item in list_of_prof %}
            <li>{{ item }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
{% endblock %}